<%- include('../includes/header.ejs') %>
</head>
<body>
    <header>
     <%- include('../includes/navigation.ejs') %>
          
         <div>
            <%= product.id %>
            <%= product.title %>
            <%= product.publisher %>
         </div>
    </header>

    
</body>
</html>